[target='_blank'] {
  color: green;
}
li {
  background-color: yellow;
}
footer,
header {
  border: 3px dashes blue;
}
h1,
h2,
h3,
h4 {
  margin-left: 20px;
}
article.new {
  font-size: 24px;
}
li.new {
  background-color: red;
}
